
 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">MyTrailer</h1>
                        <button type="button" class= "btn btn-dark btn-lg btn-customized"> <%= link_to "Sign up", new_user_registration_path %> </button>
            			 <button type="button" class= "btn btn-dark btn-lg btn-customized"> <%= link_to "Login", new_user_session_path %> </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
